<div class="col-xs-2">
	<div class="file-drop-view" data-template-part="file-drop-view">

	</div>
	<div class="gps-data-list-view" data-template-part="gps-data-list-view">

	</div>
	<div class="gps-file-list-view" data-template-part="gps-file-list-view">

	</div>

</div>
<div class="col-xs-10">
	<div class="row">
		<div class="gps-data-render-view col-xs-8 col-md-9 col-lg-10" data-template-part="gps-data-render-view">

		</div>
		<div class="gps-data-overview-view  col-xs-4 col-md-3 col-lg-2" data-template-part="gps-data-overview-view"></div>
	</div>
</div>